<div class="container">
  <div class="padded">
    <div class="box-form">
      <%= link_to account_path do %>
        <i class="fa fa-chevron-left back"></i>
      <% end %>
      <div class="trash-show">
        <%= link_to account_post_path(@post), method: :delete, data: {confirm: "Are you sure?"} do %>
          <i class="fa fa-times"></i>
        <% end %>
      </div>
      <div class="title-padding">
        <h2>
          <%= best_in_place @post, :title, url: account_post_path(@post), class: "edit-title" %>
        </h2>
      </div>
      <p>
        <b>Sous-titre :</b>
        <%= best_in_place @post, :subtitle, url: account_post_path(@post), class: "edit-subtitle" %>
      </p>
      <p>
        <b>Description:</b>
        <%= best_in_place @post, :description, url: account_post_path(@post), class: "edit-description", :as => :textarea %>
      </p>
      <p>
        <b>Auteur:</b>
        <%= best_in_place @post, :author, url: account_post_path(@post), class: "edit-author" %>
      </p>

      <%= image_tag @post.picture.url(:medium) %>
      <%= simple_form_for(@post, html: {multipart: true}, url: update_picture_path(@post), method: :put) do |f| %>
        <%= f.input :picture, label: "Photo" %>
        <%= f.submit "Editer la photo",  class: "btn submit-btn" %>
      <% end %>
    </div>
  </div>
</div>
