<%= content_for(:title) do %>
  Home
<% end %>

<%= content_for(:description) do %>
  <%# TODO %>
<% end %>

<div class="gcontainer">
  <%= render "shared/flashes" %>
  <div class="grow">
    <div class="gvignette" id="divbig">
      <h2>MUSEE IMAGINAIRE</h2>
      <!--<p>Exposition virtuelle mensuelle mise en œuvre par {{gars en question}}</p>-->
    </div>
    <div class="gvignette" id="divsmall">
      <h2>DIA-DATE</h2>
     <!-- <p>Rencontre entre jeunes artistes et professionnels du monde de l’art au 104.</p>-->
    </div>
    <div class="gvignette" id="divsmall">
      <h2>CALENDRIER</h2>
      <!--<p>Inscrivez-vous aux événements</p>-->
    </div>
  </div>
  <div class="grow">
    <div class="gvignette" id="divsmall">
      <h2>WHATEVER</h2>
      <p></p>
    </div>
    <div class="gvignette" id="divbig">
      <h2>MINI EXPOSITION</h2>
      <!--<p>Un membre de l'association expose le travail d’un artiste qu’il aime particulièrement.</p>-->
    </div>
    <div class="gvignette" id="divsmall">
      <h2>SOUTENIR L'ASSOCIATION</h2>
      <!--<p>Donnez-nous de l'argent et des tableaux</p>-->
    </div>
  </div>
  <div class="grow">
    <div class="gvignette" id="divsmall">
      <%= link_to locations_path do %>
        <h2>MAP</h2>
      <% end %>
      <!--<p>Nos recommandation culture à Paname</p>-->
    </div>
    <div class="gvignette" id="divsmall">
      <div class="subscribe-trigger">
        <h2>NEWSLETTER - Cliquer pour s'abonner</h2>
      </div>
      <div class="subscribe-form hidden">
        <%= simple_form_for(Subscriber.new(), url: create_subscriber_path) do |f| %>
          <%= f.error_notification %>
          <%= f.input :email, label: false %>
          <%= f.button :submit, "S'abonner", class: "submit-btn" %>
        <% end %>
      </div>
    </div>
    <div class="gvignette" id="divbig">
      <h2>BLOG</h2>
      <!--<p>Le blog de l'association ;)</p>-->
    </div>
  </div>
</div>
